# IDE
/.idea/

# Виртуальные окружения
/venv/
/env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Базы данных SQLite
*.sqlite
*.sqlite3
/db.sqlite
/db.sqlite3

# Логи и временные файлы
*.log
*.tmp
*.bak
